<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>标题</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="css/reset.css">
	<script src="js/jquery-1.8.3.min.js"></script>
	<script src="js/gongdanjieshao.js"></script>
	<link rel="stylesheet" type="text/css" href="css/gongdanjieshao.css">
</head>
<body>
	<div class="head">
		<p class="back"></p>
		<span>工单介绍</span>
		<i></i>
	</div>
	<div class="con">
		<ul>
			<li>
				<p>订单编号：11237801</p>
				<div class="time">
					<span class="bj">
						<img src="img/gongdan/btn_7_n@2x (3).png" alt="">
					</span>
					<div class="time1">
						<span>获取创意稿件</span>
						<span>剩余时间：4天22小时15分钟10秒</span>
						<span>交易完成</span>
					</div>
				</div>
			</li>
			<li>
				<p class="p1">蓝色天边工作室</p>
				<p class="p2">加急logo名片设计，注册商标用</p>
				<p class="p3">奖金：<span>￥800</span></p>
				<span class="sheji">设计</span>
				<span class="shijian">2017.06.10</span>
				<span class="pinglun">评论</span>
			</li>
			<li>
				<p class="p1">具体要求</p>
				<div class="yaoqiu">
					<p>现在是做实木木门的，想弄一个品牌，做全屋定制品牌：唐艺商品</p>
					<p>1：提现全屋定制2：体现北京特色3：有现代高大上气息单品要求：</p>
					<p>1、第一张为纯色背景logo</p>
					<p>2、第一张为名片设计</p>
					<p>应用1-2个场景</p>
					<p>购买版权后服务商需提供logo+名片源文件</p>
				</div>
			</li>
			<li>
				<p>已接单</p>
				<ul class="jd">
					<li>
						<img src="img/gongdan/img_6@2x (3).png" alt="">
						<p>
							<span>蓝色天边</span>
							<span>2017.06.10&nbsp;10:30</span>
							<a>已接单</a>
						</p>
					</li>
				</ul>
			</li>
		</ul>
		<button id="jiedan">我要接单</button>
	</div>
	
</body>
</html>